body{
  background-color: #f9f9f9;
  height: 100%;
}
.evrth{
  height: 100%;
  background-color: #ffffff;
  margin: 0 150px;
  border: 2px solid lightgray;
  border-top: none;
  border-bottom: none;
  font: 14pt OpenSans;
  /* Не уверен по поводу шрифта */
}

/* Header */

.logo{
  padding-top: 40px;
  margin-bottom: 40px;
}

.main-menu{
  background-color: #575656;
  color: white;
}

.header{
  margin: 0 50px;
}

li{
  display: inline-block;
  padding: 20px;
  text-shadow: 2px 2px black;
}

.main-menu-item:hover{
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  background-color: #484848;
}

.header a{
  color: white;
  text-decoration: none;
}

/* Content */

.sidebar{
  border: 1px solid lightgray;
  width: 240px;
  margin: 50px;
  float: left;
}

.sidebar li{
  display: block;
  border-bottom: 1px solid lightgray;
  /* box-shadow: 0px 0px 1px 0px gray; */
  /* */
}

.sidebar li:last-child{
  border-bottom: none;
}

.sidebar  li:hover{
  background-color: lightgray;
  padding-left: 30px;
}

.sidebar li a{
  color: black;
  text-decoration: none;
  text-shadow: none;
}

.content img{
  padding-top: 50px;
  width: 65%;
}

.fish {
  margin-left: 370px;
  margin-top: 30px;
  margin-right: 65px;
  margin-bottom: 40px;
}
/* Footer */

.footer{
  background-color: #e1e1e1;
  font-size: 13pt;
  margin: 0px 50px;
  display: flex;
  margin-bottom: 50px;

}

.footer ul{
  width: 70%;
}

.footer a{
  color: black;
  text-decoration: none;
  text-shadow: none;
}

.footer-menu-item:hover{
  text-decoration: underline;
}

.last-line{
  width: 30%;
  padding: 20px;
  text-align: right;
}
