$hover-color: rgb(136, 176, 75);

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
}

header {
  text-align: center;
}

#greetings {
  width: 100%;
  text-align: center;

    img {
      width: 183px;
      height: 240px;
      // border-radius: 50%;
    }
}

#socials {
  display: flex;
  justify-content: space-around;

  a {
    display: block;
    min-width: 40px;
    width: 25%;
    max-width: 60px;
    min-height: 40px;

    &:hover {
      .icon path {
        fill: $hover-color;
      }
    }

    &:first-child {
      width: 19%;
    }
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  text-align: center;

  // this is for arrow 
  a {
    color: black;
    text-decoration: none;

    .bottomArrow {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 50px solid;
      border-top-color: black;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
    }

    &:hover {
      color: $hover-color;

      .bottomArrow {
        border-top-color: $hover-color;
      }
    }
  }

          .textWrapper {
        width: 55%;

        h3 {
          margin-top: 0%;
        }

        .toolsIcon {
          width: 50%;
          max-width: 90px;
        }
      }

  .item {
      display: inherit;
      flex-direction: row;
      width: 100%;
      margin-top: 15%;
      margin-bottom: 5%;

      a {
        display: block;
        text-indent: -9999px;
        background-size: cover;
        // background-size: contain;
    background-repeat: no-repeat;
            width: 130px;
        min-height: 300px;
        margin-left: 5%;

        &:hover {
          background-color: $hover-color;
        }
      }
  }

  .foxDesign {
    a {
       background-image: url(../../img/foxDesign.jpg);
    }
  }

  .cityComf {
    a {
      background-image: url(../../img/cityComf.jpg);
    }
  }

  .nakitel {
    a {
      background-image: url(../../img/nakitel.jpg);
      background-position-x: -75px;
    }
  }
}
