.main-nav {
    position: fixed;
    top: -850px;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 3;
    background-color: $blue;
    padding-top: 60px;
    transition: top 1.2s ease-out;

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__list-item {
        display: block;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        background-color: $blue;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow: 1px 1px 1px #000000;

        &:hover {
            background-color: lighten($blue, 10%);
        }
    }


    &__cross {
        position: absolute;
        top: 16px;
        right: 20px;
        fill: white;
        cursor: pointer;
    }

//    make toggler bigger
    &__toggler {
        display: block;
        width: 24px;
        position: absolute;
        top: 32px;
        right: 16px;
        font-size: 0px;
        border: none;
        background-color: $blue;
        border-top: 4px solid $gray;
        cursor: pointer;
        outline-color: $gray;

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 24px;
            height: 4px;
            background-color: $gray;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 12px;
            left: 0;
            width: 24px;
            height: 4px;
            background-color: $gray;
        }

    }
}


@media(min-width: 1920px) {
    .main-nav {
            top: -940px;
    }
}

.main-nav_opened {
    top: 0px;
}
