body {
  font-family: sans-serif;
}

form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 15px;
}

label {
  width: 40%;
    display: inherit;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
  width: 100px;
  height: 30px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

.tip {
  width: 29%;
  position: absolute;
  left: 43%;
  /*border: 1px solid red;*/
  display: none;
  padding: 3px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

#surnameTip {
  top: 65px;
}

#adressTip {
  top: 106px;
}

.showTip {
  display: block;
}
