/* need to center body */
body {
  width: 908px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  font-family: sans-serif;
}
/* header */
header {
  margin-top: 18px;
  height: 21px;
  line-height: 21px;
  img {
    margin-right: 5px;
  }
  span {
    vertical-align: top;
    margin-right: 17px;
  }
  form {
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
    width: 495px;
    height: 25px;
    background: linear-gradient(to bottom, #1f6787, #0c3357);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #c1c1c1;

    img {
      margin-left: 5px;
      margin-top: 3px;
      }

    [type="text"],[type="password"] {
      vertical-align: top;
      margin-top: 3px;
      width: 111px;
      height: 14px;
    }
  }
/* need to center links */
  a {
    vertical-align: top;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;

    &:first-of-type {
      border-right: 1px solid white;
      padding-right: 5px;
    }

    &:last-child {
      margin-left: 15px;
      color: lightgrey;
      text-decoration: underline;
    }
  }
  >div:last-child {
    display: inline-block;
    margin-right: 6px;
    width: 74px;
    height: 19px;
    border: 1px solid #c1c8cb;
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px #e2e5e6;

    :first-child {
      margin-left: 7px;
    }
  }
}

.slider {
  width: 908px;
  height: 237px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.nav {
  display: flex;
  width: 909px;
  height: 33px;
  border: 1px solid #2c345a;
  border-radius: 4px;
  background: linear-gradient(to bottom, #505860, #010101);

  ul {
    display: flex;
    width: 486px;
    margin-left: 115px;
    line-height: 35px;

    li {
      width: 100px;
      height: 24px;
      text-align: center;

      a {
        display: block;
        width: 123px;
        height: 34px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;

        &:hover {
          background: linear-gradient(to bottom, #1f6787, #0d3458);
          border-radius: 15px;
        }
      }
    }
  }

  >img {
    width: 23px;
    height: 20px;
    margin: 5px 10px 0px 40px;
  }

  span {
    font-size: 11px;
    line-height: 31px;

    &:nth-child(odd){
      color: grey;
    }
    &:nth-child(even){
      margin-right: 15px;
      color: #0d5a8f;
  }
}
}

.filters {
  margin-top: 12px;
  font-size: 12px;
  display: flex;

  > div {
    margin-right: 12px;
  }

  fieldset {
    position: relative;
    border: 1px solid #b8b8b9;
    border-radius: 10px;

    button {
      float: right;
      margin-bottom: 10px;
      margin-right: 20px;
      border: none;
      background-color: white;
      font-style: italic;
      text-decoration: underline;
    }
  }

  & > div:first-of-type {
    width: 501px;
    margin-left: 10px;

    .wrapper {
      width: 183px;
      height: 123px;
      float: left;
      margin-right: 20px;

      h3 {
        margin: 5px;
        font-size: 120%;
        font-weight: bold;
          }

      &:last-of-type {
         h3 {
           margin-left: 125px;
         }
        }

      label {
        width: 74px;
        vertical-align: middle;
        line-height: 20px;

        select {
          width: 60px;
          height: 17px;
          float: right;
                }

        &:nth-of-type(3) {
          select {
            width: 30px;
                  }
                }
              }
            }
          }

  & > div:nth-of-type(3) {
    width: 190px;
    height: 143px;
  }

  & > div:last-of-type {
      width: 260px;
      height: 143px;
    }

  & > div:nth-of-type(2){
    width: 190px;
    height: 135px;

    div {
      margin-left: 5px;
      margin-bottom: 5px;
    }

    button {
      margin-top: -3px;
    }
  }
}

.main {
  display: flex;
  width: 908px;
  margin-top: 45px;
}

aside {
  width: 180px;
  margin-bottom: 10px;
  margin-right: 15px;
  color: #114165;
  font-size: 12px;
  text-transform: uppercase;

  > :first-child {
    height: 25px;
    border: 1px solid gray;
    border-radius: 15px;
    line-height: 25px;
    margin-bottom: 13px;
    display: flex;

    >img {
      margin-top: 2px;
      margin-left: 5px;
      margin-right: 5px;
        }
    span {
      vertical-align: middle;
      font-size: 11px;
    }
  }

  dl {
    margin-top: 13px;

    dt {
    width: 140px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 15px;
    display: flex;
    line-height: 27px;

    > :first-child {
      width: 22px;
      height: 22px;
      margin-left: 5px;
      margin-top: 2px;
      margin-right: 7px;
      background-color: #114165;
      border-radius: 22px;
      display:flex;
      justify-content:center;
      align-items:center;

      :first-child {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 10px;
                }
              }
            }

    dd {
    margin-top: 8px;
    margin-left: 45px;
    font-size: 11px;

      &:hover {
        text-decoration: underline;
        font-style: italic;
      /* make color darken */
      }
    }
  }

  &:last-of-type {
    dd {
      margin-left: 10px;

      &:hover {
        text-decoration: none;
        font-style: normal;
      }

      [type="checkbox"] {
        margin-right: 15px;
      }
    }

    > button {
      margin-top: 15px;
      margin-left: 15px;
      width: 80px;
      height: 25px;
      border-top: 1px solid #7a95a1;
      border-bottom: 1px solid #697b8b;
      border-left: none;
      border-right: none;
      border-radius: 15px;
      background: linear-gradient(to bottom, #1f6787, #0c3357);
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
      color: white;
      text-transform: uppercase;
    }
  }
}

.content {
  width: 585px;
  height: 620px;
  margin-right: 15px;
  background: linear-gradient(to top, #93a7b0, #e5e7e8);
  display: flex;
  flex-wrap: wrap;

  /*.item {
    > h2 {
      content: "Goodyear";
    }
  }
  */

  .item {
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 20px;
    text-align: center;

    &:nth-child(3n-2) {
      margin-left: 25px;
    }

    h2 {
      color: #206988;
    }

    & p:last-child {
      color: #114165;
      font-style: italic;
      font-weight: bold;
    }

  }
}

.brands {
  margin-top: 40px;
  margin-bottom: 15px;
  margin-left: 100px;
  width: 700px;
  height: 40px;
  display: flex;

  > div {
    margin-right: 15px;
    width: 90px;
    height: 27px;
    background-repeat: no-repeat;
  }
  @for $i from 1 through 8 {
  div:nth-of-type(#{$i}) {
    background-image: url(../img/brand-#{$i}.png);
            }
          }
}

footer {
  width: 908px;
  height: 100px;
  background-color: #213a4d;
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    li {
      height: 6px;
      margin-top: 15px;
      padding: 10px;
      line-height: 10px;
      font-size: 12px;


      &:nth-child(-n+3) {
        border-right: 2px solid #bec6c9;
      }

      a {
        color: #bec6c9;
        text-decoration: none;

        &:hover {
          color: #52abcb;
        }
      }
    }
  }

  > span {
    font-size: 10px;
    color: #7a4641;
  }
}
