#field {
  width: 400px;
  height: 350px;
  border: 10px groove black;
  background-color: #00FF00;
  position: relative;
  overflow: hidden;
}

#ball {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}

#container {
  height: 2000px;
}
