body {
  font-family: sans-serif;
}

/*.container {
  width: 100%;
  height: 100vh;
  border: 10px solid black;
  border-radius: 10px;
}*/

.timer {
  width: 70%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  border: 10px solid black;
  border-radius: 40px;
  background-color: aliceblue;
  font-size: 8em;
  text-align: center;
    margin-top: 10%;
}

.timerLittle {
  width: 5%;
  font-size: 0.1em;
  margin-left: 85%;
margin-bottom: 1%;
}

.buttonWrapper {
  display: flex;
  width: 80%;
  margin-top: 10%;
  margin-left: auto;
margin-right: auto;
}

button {
  width: 25%;
  border: 5px solid black;
  border-radius: 15px;
  font-size: 2em;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: auto;
    margin-right: auto;
}

.start, .continue {
  background-color: green;
}

.pause {
  background-color: blue;
}

.clear {
  background-color: red;
}
