header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 680px;
  background-image: url(../img/header-bg.jpg);

  > div:first-child {
    a {
      display: block;
      width: 170px;
      height: 80px;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
  }

  .wrapper{
    display: flex;
    flex-direction: row;
    margin: 40px 0;

    div {
      margin-right: 15px;

      a {
        display: block;
        width: 54px;
        height: 53px;
        background-image: url(../img/app-sprite.png);
        background-repeat: no-repeat;
        opacity: 0.5;
        text-indent: -9999px;

        &:hover {
          opacity: 1;
        }
      }

      &:nth-child(2){
        a {
          background-position: -55px 0;
        }
      }

      &:nth-child(3){
        a {
          background-position: -111px 0;
        }
      }
    }
  }

  > div:last-child {
    a{
      display: block;
      width: 50px;
      height: 15px;
      background-image: url(../img/arrow.png);
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
  }


}

.features {
  width: 100%;
  height: 615px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > div:nth-child(2){
      margin-top: -185px;
  }

  article {
    width: 320px;
    height: 130px;
  }
}

.about {
  width: 100%;
  height: 430px;
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    width: 560px;
    height: 290px;

    ul {
      li {
        background-image: url(../img/bullet.png);
        background-repeat: no-repeat;
      }
    }
  }
}

.advantages {
  width: 100%;
  height: 820px;
  text-align: center;

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1120px;
    height: 550px;
    margin: 0 auto;

    > div {
      width: 370px;
      height: 250px;
      box-shadow: 31px 31px 0px -30px rgba(227,227,227,1);

      div {
        width: 53px;
        height: 50px;
        margin: 0 auto;
        background-image: url(../img/advantages-icons-sprite.png);
        background-repeat: no-repeat;
      }

      &:nth-child(2) {
        div {
            background-position: -84px 0;
        }
      }
      &:nth-child(3) {
        div {
            background-position: -159px 0;
        }
      }
      &:nth-child(4) {
        div {
            background-position: 0 -70px;
        }
      }
      &:nth-child(5) {
        div {
            background-position: -81px -70px;
        }
      }
      &:last-child {
        div {
            background-position: -159px -70px;
        }
      }
    }
  }
}
