.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  height: 26px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

ul {
  height: 130px;
  width: 9999px;
  padding: 0;
  list-style: none;
  /* убрать между inline-block li лишние пробелы, которые есть в HTML */
  /* http://davidwalsh.name/remove-whitespace-inline-block */

  font-size: 0;
}

ul img {
  width: 130px;
  height: 130px;
  /* по умолчанию inline, но в ряде браузеров это даст лишнее пространство вокруг элементов */

  display: block;
}

ul li {
  display: inline-block;
}

.container {
  width: 480px;
  min-height: 100px;
  border-radius: 45px;
  background-color: #ddd;
  display: flex;
}

.wrapper {
  overflow: hidden;
}
