@font-face {
    font-family: 'HKGrotesk-Light';
    src:  url('../../fonts/HKGrotesk-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: '../../fonts/LeagueSpartan-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('LeagueSpartan-Bold.otf');
}