html, body, .wrapper {
height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  padding-top: 40px;
}

table {
  width: 420px;
  border-collapse: collapse;
}

td {
  width: 60px;
  height: 60px;
  border: 5px solid black;
}

tr {
  height: 60px;
}

/* как раскрасить одну ячейке
tr:nth-child(2) td:nth-child(3) {
  background-color: yellow;
}
td:nth-child(n+2)
*/


tr:first-child td:nth-child(n+6) {
  background-color: yellow;
}

tr:nth-child(2) td:nth-child(-n+5) {
  background-color: red;
}
