body {
  font-size: medium;
}
body p, body a, body h1, body h3 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}
body h2, body h4 {
  font-family: 'PT Mono';
}

header {
  width: 100%;
  height: 39px;
  padding-top: 5px;
  background-color: black;
}
header .wrapper {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
header .wrapper .logo img {
  width: 184px;
  height: 34px;
}
header .wrapper nav ul {
  display: flex;
}
header .wrapper nav ul li a {
  width: 130px;
  height: 24px;
  display: block;
  color: white;
  text-decoration: none;
  line-height: 18px;
  margin-top: 8px;
}
header .wrapper nav ul li a:hover {
  background-color: white;
  color: black;
}

#first {
  width: 100%;
  height: 487px;
  padding-top: 153px;
  background-image: url(../img/first-bg.png);
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#first h1, #first h3, #first .wrapper {
  margin: 0 auto;
  color: white;
}
#first h3 {
  width: 828px;
  height: 50px;
  font-size: 267%;
}
#first h1 {
  width: 570px;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 111px;
  font-size: 500%;
  text-transform: uppercase;
}
#first .wrapper {
  width: 284px;
  height: 46px;
  border: 1px solid white;
  position: relative;
}
#first .wrapper a {
  display: block;
  width: 284px;
  height: 46px;
  background-color: black;
  color: white;
  position: absolute;
  top: -10px;
  left: -14px;
  text-decoration: none;
  line-height: 42px;
  font-size: 1.4em;
}
#first .wrapper a:hover {
  background-color: white;
  color: black;
  transition: background-color 2s, color 1s;
}
#first .wrapper a:active {
  top: 0px;
  left: 0px;
}

#offer {
  width: 100%;
  height: 500px;
  background-color: white;
  position: relative;
}
#offer .arrowDown {
  display: block;
  width: 39px;
  height: 66px;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  top: -133px;
  left: 630px;
  background-image: url(../img/offer-button.png);
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -99999px;
}
#offer .wrapper {
  width: 960px;
  height: 575px;
  margin: 97px auto;
}
#offer .wrapper .container {
  width: 673px;
  height: 303px;
  border: 2px solid black;
  position: relative;
  display: flex;
}
#offer .wrapper .container .heading {
  width: 288px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: -18px;
  line-height: 32px;
  text-align: center;
  left: 192px;
}
#offer .wrapper .container .heading h2 {
  font-size: 1.4em;
  font-weight: bold;
}
#offer .wrapper .container .textContainer {
  width: 410px;
  height: 260px;
  margin-top: 48px;
  margin-left: 74px;
}
#offer .wrapper .container .textContainer p {
  text-align: left;
  margin-bottom: 25px;
  line-height: 30px;
}
#offer .wrapper .container .imgContainer {
  position: relative;
}
#offer .wrapper .container .imgContainer div:first-child {
  width: 366px;
  height: 327px;
  position: absolute;
  top: 84px;
  left: 59px;
  background-image: url(../img/offer-lower.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#offer .wrapper .container .imgContainer div:last-child {
  width: 366px;
  height: 364px;
  position: absolute;
  top: 18px;
  left: 34px;
  background-image: url(../img/offer-upper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#offer .wrapper > p:last-child {
  width: 439px;
  height: 70px;
  margin-top: 17px;
  text-align: left;
  font-size: 0.9em;
  line-height: 18px;
}

#noName {
  width: 100%;
  height: 603px;
  padding-top: 24px;
}
#noName .container {
  width: 673px;
  height: 503px;
  margin: 0 auto;
  display: flex;
  position: relative;
  left: 92px;
  border: 2px solid black;
}
#noName .container .heading {
  width: 366px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: -18px;
  line-height: 32px;
  text-align: center;
  left: 154px;
}
#noName .container .heading h2 {
  font-size: 1.4em;
  font-weight: bold;
}
#noName .container .imgContainer {
  width: 520px;
  position: relative;
}
#noName .container .imgContainer div:first-child {
  width: 366px;
  height: 328px;
  background-image: url(../img/noName-lower.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 76px;
  top: 97px;
}
#noName .container .imgContainer div:last-child {
  width: 365px;
  height: 361px;
  background-image: url(../img/noName-upper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 101px;
  top: 31px;
}
#noName .container .textContainer {
  width: 671px;
  margin-top: 52px;
  margin-right: 149px;
}
#noName .container .textContainer p {
  text-align: left;
  line-height: 23px;
  margin-bottom: 20px;
}

#order {
  width: 100%;
  height: 601px;
  background-color: #f1f1f1;
  padding-top: 56px;
}
#order .container {
  width: 910px;
  height: 543px;
  margin: auto;
  border: 2px solid black;
  position: relative;
  left: -24px;
  display: flex;
}
#order .container .heading {
  width: 446px;
  height: 40px;
  position: absolute;
  top: -22px;
  left: 231px;
  line-height: 40px;
  text-align: center;
  background-color: #f1f1f1;
}
#order .container .heading h2 {
  font-size: 1.4em;
  font-weight: bold;
}
#order .container .column {
  width: 470px;
  height: 510px;
  margin-top: 70px;
}
#order .container .column div {
  margin-bottom: 55px;
}
#order .container .column div h4 {
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: underline;
}
#order .container .column div p {
  margin-top: 24px;
  line-height: 23px;
  text-align: left;
}
#order .container .left {
  margin-left: 78px;
  padding-right: 30px;
}
#order .container .right {
  margin-right: 101px;
  padding-left: 18px;
}

#portfolio {
  width: 100%;
  height: 601px;
}

/*# sourceMappingURL=style.css.map */
