html, body, .wrapper {
height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  padding-top: 40px;
}

table {
  width: 420px;
  border-collapse: collapse;
}

td {
  width: 60px;
  height: 60px;
  border: 5px solid black;
}

tr {
  height: 60px;
}

/* colors */

tr:nth-of-type(-n+2) td:last-of-type, tr:nth-last-of-type(3) td:first-child {
  background-color: yellow;
}

tr:nth-of-type(2) td:nth-of-type(2) {
  background-color: red;
}

tr:nth-last-of-type(3) td:last-child {
  background-color: blue;
}

tr:nth-last-of-type(2) td:last-child, tr:nth-last-of-type(4) td:first-child {
  background-color: black;
}
