.footer-nav {
    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
        
        
        &-item {
            display: block;
           padding: 20px;
            color: $textcolor-with-bg;
            text-transform: uppercase;
            font-family: $font-heading;
            border-bottom: 1px solid $gray-line;
            text-decoration: none;
            cursor: pointer;
            
            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
        
        & li:last-child {
            .footer-nav__list-item {
                border-bottom: none;
            }
        }
    }
}

@media(min-width: 768px) {
    .footer-nav {
        &__list {
            display: flex;
            justify-content: space-around;
            
            &-item {
                border-bottom: none;
                
                &:after {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: white;
                    margin-left: 52px;
                }
            }
            
            & li:last-child {
                .footer-nav__list-item:after {
                    display: none;
                }
            }
        }
    }
}