body {
  font-family: sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 20px;
}

button {
  width: 100px;
  height: 50px;
  background-color: grey;
  color: white;
  border: none;
}

button:hover {
  background-color: darkgrey;
  cursor: pointer;
}
