html, body, .wrapper {
  width: 100%;
  height: 100%;
  font-family: Arial;
  font-weight: 100;
}

/* header */
.header {
  background-image: url(../img/bg.png);
  color: white;
}

.nav li {
  width: 70px;
  height: 20px;
  padding: 8px;
  display: block;
}

.nav ul li a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: Arial;
}

.nav ul li > a:hover{
  background-color: #4eabda;
}

.nav ul {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.brdr {
  border-right: 1px solid #56a2dc;
}

.flag {
  display: block;
  position: relative;
  width: 130px;
  margin-right: 60px;
  white-space: nowrap;
}

.flag img {
  float: left;
  margin-right: 5px;
}
.nav li:first-child {
  width: 100px;
}
.nav li:last-child {
  width: 200px;
  background-image: url();
  white-space: nowrap;
}

.nav ul:last-child>a{
  text-decoration: underline;
}

.nav img {
  width: 20px;
  height: 20px;
}

/* wrapper */
.wrapper {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrapper-2 {
  display:flex;
  justify-content:center;
  align-items:center;
}

/* content */

.content {
  width:560px;
  height:614px;
  background-image: url(../img/bg-content.png);
}
.main {
  position: relative;
}

h1 {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: x-large;
}

.fb {
  position: relative;
    left: 142px;
    top: 30px;
}

.ou {
  position: relative;
  top: 50px;
  left: 142px;
}

/* form */
