html, body, .wrapper {
  width: 1300px;;
  height: 100%;
}

/* header */
.header {
  background-image: url(../img/bg.png);
  color: white;
}

.nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-family: Arial;
}

.nav>a:hover{
  color: white;
  background-color: #4eabda
}

.nav ul {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav li {
  width: 70px;
  height: 40px;
  padding: 8px;
  display: block;
}

.brdr {
  border-right: 1px solid #56a2dc;
}

.flag {
  display: block;
  position: relative;
  width: 120px;
}

.flag img {
  float: left;
  margin-right: 5px;
}
.nav li:first-child {
  width: 100px;
}
.nav li:last-child {
  width: 200px;
  background-image: url();
}

.nav ul:last-child>a{
  text-decoration: underline;
}

.nav img {
  width: 20px;
  height: 20px;
}

/* wrapper */
.wrapper {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

/* form */
