@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, .wrapper {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue Regular", Tahoma, sans-serif;
  font-weight: 100;
}

/* header */
.header {
  background-image: url(../img/bg.png);
  color: white;
  background-size: 100%;
}

.nav ul {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav li {
  width: 70px;
  height: 40px;
  display: block;
  line-height: 40px;
  text-align: center;
}

.nav ul li a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: white;
  font-family: "Helvetica Neue Regular";
}

.nav ul li > a:hover{
  background-color: #4eabda;
}

li:nth-child(5) {
  border-right: 1px solid #56a2dc;
}

li:nth-child(6) {
  display: block;
  position: relative;
  width: 140px;
  white-space: nowrap;
}

li:nth-child(6) img {
  float: left;
  margin-right: 5px;
  padding-top: 10px;
  padding-left: 5px;
}

.nav li:first-child {
  width: 100px;
}
.nav li:last-child {
  width: 200px;
  background-image: url(../img/bg-button-2.jpg);
  background-size: 110%;
  white-space: nowrap;
}

.nav li:last-child > a {
  display: inline;
  text-decoration: underline;
}

.nav img {
  width: 20px;
  height: 20px;
}

/* wrapper */
.wrapper {
  background-image: url(../img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* content */

.content {
  width:560px;
  height:614px;
  background: rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  color: white;
  font-weight: lighter;
  font-size: x-large;
}

.content > div:nth-child(n+2):nth-of-type(-n+3){
  padding-top: 30px;
  padding-left: 142px;
}

/* form */

.form-item {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}

[type="text"],[type="password"] {
  padding-left: 20px;
  width: 275px;
  height: 35px;
  background-color: black;
  color: white;
  border: none;
  border-bottom: 1px solid gray;
}

/* почему-то не получилось объелинить эти селекторы */

[type="password"]::-webkit-input-placeholder {
  color: white;
}

[type="text"]::-webkit-input-placeholder {
  color: white;
}

[type="text"]:focus,[type="password"]:focus {
    background-color: #1b5288;
    box-shadow: 0px 0px 15px 5px rgba(104, 155, 204, .75);
}

.form p {
  width: 300px;
  margin-top: 20px;
  margin-left: 130px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 100;
}

button {
  width: 147px;
  height: 34px;
  margin: 0 206px;
  padding: 0;
  border: none;
  cursor: pointer;
}

button img {
  margin-top: -2px;
  margin-left: -2px;
}
