/* need to center body */
body {
  width: 908px;
  background: rgb(255, 255, 255);
  margin: 0 auto;
  font-family: sans-serif;
}
/* header */
header {
  margin-top: 18px;
  height: 21px;
  line-height: 21px;
  img {
    margin-right: 5px;
  }
  span {
    vertical-align: top;
    margin-right: 17px;
  }
  form {
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;
    width: 495px;
    height: 25px;
    background: linear-gradient(to bottom, #1f6787, #0c3357);
    border-radius: 4px;
    box-shadow: 1px 1px 1px 1px #c1c1c1;

    img {
      margin-left: 5px;
      margin-top: 3px;
      }

    [type="text"],[type="password"] {
      vertical-align: top;
      margin-top: 3px;
      width: 111px;
      height: 14px;
    }
  }
/* need to center links */
  a {
    vertical-align: top;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;

    &:first-of-type {
      border-right: 1px solid white;
      padding-right: 5px;
    }

    &:last-child {
      margin-left: 15px;
      color: lightgrey;
      text-decoration: underline;
    }
  }
  >:last-child {
    display: inline-block;
    margin-right: 6px;
    width: 74px;
    height: 19px;
    border: 1px solid #c1c8cb;
    border-radius: 14px;
    box-shadow: 1px 1px 1px 1px #e2e5e6;

    :first-child {
      margin-left: 7px;
    }
  }
}

.slider {
  width: 908px;
  height: 237px;
  margin-top: 10px;
  margin-bottom: 6px;
}

.nav {
  display: flex;
  width: 909px;
  height: 33px;
  border: 1px solid #2c345a;
  border-radius: 4px;
  background: linear-gradient(to bottom, #505860, #010101);

  ul {
    display: flex;
    width: 486px;
    margin-left: 115px;
    line-height: 35px;

    li {
      width: 100px;
      height: 24px;
      text-align: center;

      a {
        display: block;
        width: 123px;
        height: 34px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 12px;

        &:hover {
          background: linear-gradient(to bottom, #1f6787, #0d3458);
          border-radius: 15px;
        }
      }
    }
  }

  >img {
    width: 23px;
    height: 20px;
    margin: 5px 10px 0px 40px;
  }

  span {
    font-size: 11px;
    line-height: 31px;

    &:nth-child(odd){
      color: grey;
    }
    &:nth-child(even){
      margin-right: 15px;
      color: #0d5a8f;
  }
}
}
