body{
  background-color: #f2f8f4;
  margin-left: 25%;
  width: 50%;
  font-family: Arial,sans-serif;
}
h1{
  text-transform: uppercase;
}
.main-image {
  display:block;
  margin:0 auto;
  width: 200px;
  height: 200px;
  border: 1px solid gray;
}
a{
  font-style: italic;
}
.description{
  color: gray;
  opacity: 0,8;
  /*не понял, работает или нет*/

}
.for-margin{
  margin-left: 20px;
}
li{
  font-weight: lighter;
}
