@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
    
    a, h3 {
        font-family: "League Gothic";
    }
    p {
        font-family: "Open Sans", sans-serif;
    }
}

.wrapper {
  width: 320px;
  margin-top: 70px;
}

header {
  > img {
      margin-left: 85px;
  }

  nav {
      width: 35px;
      height: 21px;
      margin-top: 34px;
      margin-left: 140px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 6px;
      text-transform: uppercase;
      border-bottom: 4px solid #edbfff;

      a {
        color: white;
        font-size: 20px;
        text-decoration: none;

        &:hover {
          text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
      }
    }
}

/* for nav

ul {
  width: 244px;
  background-color: rgba(54, 41, 62, 0.9);
  border: 2px solid #051116;
  border-radius: 5px;

  li {
    height: 39px;
    line-height: 39px;
    border-top: 1px solid #513e59;
    border-bottom: 1px solid #35273d;
    text-align: center;

    a {
      display: block;
      font-size: 16px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
*/

.slider {
  display: flex;
  margin-top: 120px;
  flex-wrap: wrap;

  & > :nth-child(odd){
    width: 23px;
    height: 36px;
    margin-top: 10px;
  }

  & > :nth-child(2){
    margin-left: 41px;
    margin-right: 20px;
  }

  & > :nth-last-child(2) {
    margin-left: 10px;
    transform: rotate(180deg);
  }

  & > :last-child {
    margin-top: 78px;
    margin-bottom: 70px;
    margin-left: 123px;
  }
}

.content-bg {
  position: absolute;
  top: 515px;
  z-index: 1;
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, #735082, #36293d);
  border-top: 1px solid #34263b;
  border-bottom: 1px solid #21333b;
}

.about {
  position: relative;
  z-index: 2;

  & div:first-child{
    margin-top: 70px;
  }

  div {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 45px;
    margin-left: 20px;
    color: white;
    line-height: 25px;

    img {
    margin-top: 1px;
    margin-right: 37px;
    margin-left: 13px;
    float: left;

    }

    h3 {
      text-transform: uppercase;
    }

    p {
      margin-left: 63px;
      font-weight: 100;
    }

    a {
      float: right;
        margin-top: 8px;
        margin-right: 10px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
      }
    }
  }
}

.blog-bg {
  position: absolute;
  top: 1100px;
  z-index: 1;
  width: 100%;
  height: 1210px;
  background: #f9f9f9;
}

.blog {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 270px;
  margin-top: 205px;
  margin-left: 50px;
  padding-top: 27px;
  background-color: white;

  img:first-of-type {
    float: left;
    position: relative;
    top: 10px;
    left: -20px;
  }

  h3 {
    text-transform: uppercase;
  }

  & p:first-of-type {
    text-transform: uppercase;
     color: #edbfff;
   }

   & p:last-of-type {
     margin-top: 40px;
     margin-left: 50px;
     line-height: 25px;
     font-size: 15px;
   }

   img:last-of-type {
     position: relative;
     top: 100px;
     left: 83px;
   }
}

.updates {
  position: relative;
  z-index: 2;
  margin-top: 90px;
  margin-left: 20px;
  line-height: 25px;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  div {
    margin-top: 25px;
    padding-left: 72px;

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        background-image: url(../img/updates-icon-#{$i}.png);
        background-repeat: no-repeat;
      }
    }

    p:first-of-type {
      font-weight: bold;
    }
  }

  a {
    margin-top: 25px;
    margin-right: 20px;
    display: block;
    float: right;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
      transition: text-decoration 2s;
    }
  }
}

.logos {
  position: relative;
  z-index: 2;
  margin-top: 90px;
  padding-bottom: 50px;
  padding-left: 50px;
  border-top: 1px solid #fefefe;

  div {
    height: 65px;
    margin-top: 50px;

    @for $a from 1 through 3 {
      &:nth-of-type(#{$a}) {
        background-image: url(../img/logo-#{$a}.png);
        background-repeat: no-repeat;
      }
    }
  }
}

footer {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    text-align: center;
    
    p {
    color: white;
    font-size: 15px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        
        a {
            text-decoration: none;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
    }
}

.footer-bg {
  position: absolute;
  top: 2310px;
  width: 100%;
  height: 200px;
  background-image: url(../img/footer-bg.jpg);
box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,1);
}
