@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/leaguegothic-regular-webfont.eot");
  src: url("../fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguegothic-regular-webfont.woff2") format("woff2"), url("../fonts/leaguegothic-regular-webfont.woff") format("woff"), url("../fonts/leaguegothic-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}
body a, body h3 {
  font-family: "League Gothic";
}
body p {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header > a img {
  margin-top: 69px;
}
header nav {
  height: 21px;
  margin-top: 76px;
  margin-left: 140px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 6px;
  text-transform: uppercase;
}
header nav li {
  display: inline-block;
  margin-right: 50px;
  margin-top: -4px;
}
header nav li:last-of-type {
  margin-right: 0px;
}
header nav a {
  display: block;
  color: white;
  font-size: 23px;
  text-decoration: none;
}
header nav a:hover {
  text-shadow: 0px 0px 10px white;
  border-bottom: 4px solid #edbfff;
}

/* for nav

ul {
  width: 244px;
  background-color: rgba(54, 41, 62, 0.9);
  border: 2px solid #051116;
  border-radius: 5px;

  li {
    height: 39px;
    line-height: 39px;
    border-top: 1px solid #513e59;
    border-bottom: 1px solid #35273d;
    text-align: center;

    a {
      display: block;
      font-size: 16px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
*/
.slider {
  width: 100%;
  height: 396px;
  margin-top: 171px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.slider .arrow {
  width: 23px;
  height: 36px;
  margin-top: 10px;
}
.slider .next {
  margin-left: 10px;
  transform: rotate(180deg);
}
.slider .wrapper {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.slider .wrapper > :nth-child(2) {
  width: 203px;
  height: 54px;
  margin-left: 120px;
  margin-right: 20px;
}
.slider .wrapper div:first-of-type {
  width: 470px;
  color: white;
}
.slider .wrapper div:first-of-type img:first-of-type {
  width: 338px;
  margin-top: 13px;
  margin-left: 5px;
}
.slider .wrapper div:first-of-type p {
  line-height: 23px;
}
.slider .wrapper div:last-of-type {
  width: 274px;
  height: 377px;
  margin-top: -57px;
  margin-right: 66px;
  background-image: url(../img/iphone.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-nav {
  width: 83px;
  height: 19px;
  margin-top: 93px;
  margin-bottom: 57px;
  margin-left: 546px;
  background-image: url(../img/slider-nav.png);
}

.about {
  display: inherit;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 341px;
  background: linear-gradient(to bottom, #735082, #36293d);
  border-top: 1px solid #34263b;
  border-bottom: 1px solid #21333b;
}
.about > div {
  width: 280px;
  margin-top: 24px;
  margin-right: 20px;
  margin-bottom: 4px;
  margin-left: 37px;
  color: white;
  line-height: 27px;
}
.about > div div {
  width: 30px;
  height: 30px;
  float: left;
  background-image: url(../img/about-sprite.png);
  background-repeat: no-repeat;
}
.about > div:nth-child(2) div {
  background-position: -55px 0px;
}
.about > div:last-child div {
  background-position: -110px 0px;
}
.about > div h3 {
  margin-left: 54px;
  line-height: 18px;
  font-size: 29px;
  text-transform: uppercase;
}
.about > div p {
  margin-top: 18px;
  margin-left: 49px;
  font-weight: 100;
}
.about > div a {
  float: right;
  margin-top: 24px;
  margin-right: 4px;
  font-size: 19px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.about > div a:hover {
  text-shadow: 0px 0px 10px white;
}

.content {
  display: inherit;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 607px;
  background: #f9f9f9;
}

.blog {
  position: relative;
  width: 430px;
  height: 260px;
  margin-top: 100px;
  margin-left: -164px;
  padding-top: 27px;
  padding-right: 30px;
  background-image: url(../img/blog-bg.png);
  background-repeat: no-repeat;
}
.blog h3 {
  font-size: 29px;
  margin-top: 2px;
  margin-left: 64px;
  text-transform: uppercase;
}
.blog span {
  font-size: 29px;
  font-family: "League Gothic";
  text-transform: uppercase;
  color: #edbfff;
}
.blog p {
  margin-top: 3px;
  margin-left: 64px;
  line-height: 25px;
  font-size: 15px;
}
.blog img:last-of-type {
  margin-top: 83px;
  margin-left: 196px;
}

.updates {
  margin-top: 132px;
  margin-left: 51px;
  line-height: 25px;
}
.updates h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 29px;
  font-family: "League Gothic";
}
.updates div {
  margin-top: 17px;
}
.updates div:nth-of-type(1) {
  background-image: url(../img/updates-icon-1.png);
  background-repeat: no-repeat;
}
.updates div:nth-of-type(2) {
  background-image: url(../img/updates-icon-2.png);
  background-repeat: no-repeat;
}
.updates div:nth-of-type(3) {
  background-image: url(../img/updates-icon-3.png);
  background-repeat: no-repeat;
}
.updates div p:first-of-type {
  font-size: 16px;
  font-weight: bold;
}
.updates div p {
  margin-left: 67px;
}
.updates a {
  margin-top: 16px;
  margin-right: -142px;
  display: block;
  float: right;
  font-size: 19px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.updates a:hover {
  text-decoration: underline;
  transition: text-decoration 2s;
}

.logos {
  display: inherit;
  justify-content: space-around;
  width: 849px;
  height: 70px;
  margin-top: 90px;
  margin-left: -39px;
  padding-left: 50px;
}
.logos div {
  width: 74px;
  height: 70px;
  background-image: url(../img/logos-sprite.png);
  background-repeat: no-repeat;
}
.logos div:nth-of-type(1) {
  background-position: -133*1 px 0px;
}
.logos div:nth-of-type(2) {
  background-position: -133*2 px 0px;
}
.logos div:nth-of-type(3) {
  background-position: -133*3 px 0px;
}
.logos div:nth-of-type(4) {
  background-position: -133*4 px 0px;
}
.logos div:nth-of-type(5) {
  background-position: -133*5 px 0px;
}
.logos div:nth-of-type(6) {
  background-position: -133*6 px 0px;
}

.last {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 395px;
  margin: 0 auto;
  background-color: #ececec;
  border-top: 1px solid #d8d8d8;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.75);
  line-height: 24px;
  text-shadow: 2px 2px 1px white;
}
.last > div:nth-child(-n+2) {
  margin-right: 60px;
}
.last > div:last-child article {
  margin-left: -4px;
}
.last div {
  width: 280px;
  height: 200px;
}
.last div > p:first-of-type {
  margin-top: 8px;
  margin-left: -5px;
  margin-bottom: 7px;
  color: #c5c5c5;
  font-style: italic;
}
.last article h3 {
  font-size: 28px;
  text-transform: uppercase;
}
.last article p {
  margin-top: 10px;
}
.last article:first-of-type {
  margin-left: -2px;
}

footer {
  text-align: center;
  width: 100%;
  height: 114px;
  background-image: url(../img/footer-bg.jpg);
  box-shadow: inset 0px 2px 4px 0px black;
  display: inherit;
  justify-content: space-around;
  align-items: center;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
footer nav {
  height: 21px;
  margin-top: 4px;
  margin-left: -2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 6px;
  text-transform: uppercase;
}
footer nav li {
  display: inline-block;
  margin-right: 40px;
}
footer nav li:last-of-type {
  margin-right: 0px;
}
footer nav a {
  display: block;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
footer nav a:hover {
  text-shadow: 0px 0px 10px white;
  border-bottom: 4px solid #edbfff;
}
footer p {
  color: white;
  font-size: 12px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  margin-top: 4px;
  margin-left: -167px;
}
footer p a {
  text-decoration: none;
  font-weight: bold;
  font-family: monospace;
  color: white;
  cursor: pointer;
}

/*
@maedia only screen
    and (min-device-width: 320px) {

for img in header -   margin-left: 85px;
for slider -  margin-left: 80px;
for about -   & div:first-child{
    margin-top: 73px;
  }
for about -   height: 597px;
for about -     & div:last-child {
        margin-top: 34px;
    }
for content -     flex-direction: inherit;  align-items: center;

for logos - height: 294px;

footer - p -  margin-left: 78px; margin-top: 42px;
}
*/
@media (min-device-width: 320px) and (max-device-width: 479px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
  header > a {
    margin-left: auto;
    margin-right: auto;
  }
  header nav {
    margin-top: 39px;
    margin-left: auto;
    margin-right: auto;
  }
  header nav ul li {
    margin-right: 0px;
  }
  header nav ul li a {
    font-size: 40px;
  }
  header nav ul li:nth-last-child(-n+5) {
    display: none;
  }

  .slider {
    height: 256px;
    justify-content: center;
    margin-top: 0px;
    background-color: transparent;
  }
  .slider .arrow {
    margin-right: 8px;
    margin-top: 37px;
  }
  .slider .wrapper {
    width: 185px;
    margin-left: 31px;
    margin-top: 39px;
  }
  .slider .wrapper img {
    width: 260px;
    height: 53px;
  }
  .slider .wrapper p {
    display: none;
  }
  .slider .wrapper > :last-child {
    display: none;
  }
  .slider .next {
    margin-left: 175px;
  }

  .slider-nav {
    margin-top: -4px;
    margin-left: 12px;
    margin-bottom: 65px;
  }

  .about {
    height: 650px;
    flex-direction: column;
    line-height: 26px;
  }
  .about > div:first-child {
    margin-top: -42px;
  }
  .about div div:first-of-type {
    background-position: 0px 0px;
  }
  .about div p {
    margin-top: 10px;
  }
  .about div p span {
    display: none;
  }
  .about div a {
    margin-top: 5px;
  }

  .content {
    height: 1208px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .content .blog {
    width: 280px;
    margin-top: 71px;
    margin-left: auto;
    margin-right: auto;
  }
  .content .blog h3 span {
    display: block;
  }
  .content .blog p span {
    display: none;
  }
  .content .blog img:last-of-type {
    margin-top: 64px;
    margin-left: 122px;
  }
  .content .updates {
    align-self: center;
    margin-top: 80px;
    margin-left: 0px;
  }
  .content .updates a {
    margin-right: 20px;
  }
  .content .logos {
    width: 280px;
    flex-wrap: wrap;
    align-self: center;
    margin-top: 133px;
    margin-left: -110px;
  }
  .content .logos div {
    margin-left: 40px;
    margin-bottom: 60px;
  }

  .last {
    display: none;
  }

  footer {
    justify-content: center;
  }
  footer nav {
    display: none;
  }
  footer p {
    margin-top: 0px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
