@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  display: flex;
    flex-direction: column;
  align-items: center;
  font-family: sans-serif;
    
    a, h3 {
        font-family: "League Gothic";
    }
    p {
        font-family: "Open Sans", sans-serif;
    }
}

header {
  > img {
      margin-top: 50px;
      margin-left: 85px;
  }

  nav {
      width: 35px;
      height: 21px;
      margin-top: 34px;
      margin-left: 140px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 6px;
      text-transform: uppercase;
      border-bottom: 4px solid #edbfff;

      a {
        color: white;
        font-size: 20px;
        text-decoration: none;

        &:hover {
          text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
        }
      }
    }
}

/* for nav

ul {
  width: 244px;
  background-color: rgba(54, 41, 62, 0.9);
  border: 2px solid #051116;
  border-radius: 5px;

  li {
    height: 39px;
    line-height: 39px;
    border-top: 1px solid #513e59;
    border-bottom: 1px solid #35273d;
    text-align: center;

    a {
      display: block;
      font-size: 16px;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
*/

.slider {
 margin-left: 80px;
    width: 320px;
    height: 219px;
  display: flex;
  margin-top: 120px;
  flex-wrap: wrap;

  & > :nth-child(odd){
    width: 23px;
    height: 36px;
    margin-top: 10px;
  }

  & > :nth-child(2){
    margin-left: 41px;
    margin-right: 20px;
  }

  & > :nth-last-child(2) {
    margin-left: 10px;
    transform: rotate(180deg);
  }

  & > :last-child {
    margin-top: 78px;
    margin-bottom: 70px;
    margin-left: 123px;
  }
}

/*.content {
  width: 100%;
  height: 600px;
  background: linear-gradient(to bottom, #735082, #36293d);
  border-top: 1px solid #34263b;
  border-bottom: 1px solid #21333b;
}
*/

.about {
            display: inherit;
    flex-direction: inherit;
    align-items: center;
     width: 100%;
  height: 597px;
  background: linear-gradient(to bottom, #735082, #36293d);
  border-top: 1px solid #34263b;
  border-bottom: 1px solid #21333b;

  & div:first-child{
    margin-top: 73px;
  }
    
    & div:last-child {
        margin-top: 34px;
    }

  div {
      width: 280px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    margin-left: 126px;
    color: white;
    line-height: 25px;
    background-image: url(../img/key-icon.png);
    background-repeat: no-repeat;


    h3 {
        margin-left: 50px;
        line-height: 18px;
        font-size: 24px;
      text-transform: uppercase;
    }

    p {
        margin-top: 5px;
      margin-left: 49px;
      font-weight: 100;
    }

    a {
      float: right;
        margin-top: 11px;
        margin-right: 16px;
        font-size: 19px;
      color: white;
      text-transform: uppercase;
      text-decoration: none;

      &:hover {
        text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
      }
    }
  }
}

.content {
        display: inherit;
    flex-direction: inherit;
    align-items: center;
  width: 100%;
  height: 1159px;
  background: #f9f9f9;
}

.blog {
  position: relative;
  width: 250px;
  height: 270px;
  margin-top: 69px;
  margin-left: 50px;
  padding-top: 27px;
  background-color: white;

  img:first-of-type {
    float: left;
    position: relative;
    top: -8px;
  }

  h3 {
    font-size: 24px;
    margin-left: 60px;
    text-transform: uppercase;
  }

  & p:first-of-type {
      font-size: 24px;
    font-family: "League Gothic";
    margin-left: 61px;
    text-transform: uppercase;
     color: #edbfff;
   }

   & p:last-of-type {
     margin-top: 3px;
     margin-left: 64px;
     line-height: 25px;
     font-size: 15px;
   }

   img:last-of-type {
    margin-top: 43px;
    margin-left: 120px;
   }
}

.updates {
  margin-top: 67px;
  margin-left: 90px;
  line-height: 25px;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 29px;
    font-family: "League Gothic";
  }

  div {
    margin-top: 17px;

    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        background-image: url(../img/updates-icon-#{$i}.png);
        background-repeat: no-repeat;
      }
    }

    p:first-of-type {
        font-size: 16px;
      font-weight: bold;
    }
      
      p {
            margin-left: 67px;
      }
  }

  a {
    margin-top: 18px;
    margin-right: 15px;
    display: block;
    float: right;
      font-size: 18px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
      transition: text-decoration 2s;
    }
  }
}

.logos {
    width: 187px;
    height: 294px;
  margin-top: 135px;
margin-left: 79px;
  padding-left: 50px;
  border-top: 1px solid #fefefe;
    background-image: url(../img/logos.png);
  }

footer {
    margin-top: 50px;
    text-align: center;
    width: 100%;
      height: 200px;
    background-image: url(../img/footer-bg.jpg);
    box-shadow: inset 0px 2px 4px 0px rgba(0,0,0,1);
    
    p {
    margin-top: 42px;
    margin-left: 78px;
    color: white;
    font-size: 12px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
        
        a {
            text-decoration: none;
            font-weight: bold;
            font-family: monospace;
            color: white;
            cursor: pointer;
        }
    }
}
