.ask-question {
    margin-bottom: 50px;
    position: relative;
    
    &__bean-wrapper {
        position: absolute;
        width: 100%;
        min-height: 320px;
    }
    
    &__bean {
        position: absolute !important;
        width: 250px;
        height: 250px;
        display: none !important;
        top: 17% !important;
        left: 15% !important;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    &__inner {
        text-align: left;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    &__header {
        padding-bottom: 15px;
        font-family: $font-heading;
        font-weight: bold;
        text-transform: uppercase;
        border-bottom: 1px solid $textcolor-without-bg;
    }
    
    &__form {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        
        &-input {
            text-transform: uppercase;
            font-weight: bold;
            color: black;
            border: none;
            border-bottom: 1px solid $textcolor-without-bg;
            padding-bottom: 10px;
            margin-bottom: 30px;
            outline: none;
            background-image: url(../../img/programs-bg.jpg);
            
            &:focus {
                border-bottom: 2px solid $textcolor-without-bg;
                margin-bottom: 29px;
            }
        }
        
        &-submit {
            display: block;
            width: 110px;
            font-family: $font-heading;
            font-weight: bold;
            background-color: rgba(0,0,0,0);
            border: 1px solid $textcolor-without-bg;
            padding: 10px 20px;
            text-transform: uppercase;
            position: relative;
            
            &:after {
                content: "→";
                display: block;
                font-size: 50px;
                color: $textcolor-without-bg;
                position: absolute;
                top: -18px;
                left: 90px
            }
            
            &:hover {
                color: $textcolor-with-bg;
                background-color: $textcolor-without-bg;
            }
        }
    }
}

@media(min-width: 768px) {
    .ask-question {
        background-image: url(../../img/ask-question__bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        
        &__inner {
            width: 58%;
            margin-left: auto;
            padding-top: 50px;
            padding-left: 0;
        }
        
        &__form {
            display: block;
        }
        
        &__form-submit {
            float: right;
            margin-right: 30px;
            margin-top: -5px;
        }
        
        &__form-input {
            width: 50%;
        }
    }
}

@media(min-width: 1024px) {
    .ask-question__bean {
        display: block !important;   
    }
}