#container {
  width: 360px;
  height: 65px;
  padding: 15px;
  background-color: grey;
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
}

#wrapper {
  position: fixed;
  width: 194px;
  margin-left: 75px;
  overflow: hidden;
      top: 15.5%;
}

#wrapper ul {
  list-style: none;
  width: 600px;
  padding: 0px;
}

#wrapper ul li {
  display: inline-block;
}

#leftArrow, #rightArrow {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 15px;
  background-color: lightgreen;
  cursor: pointer;
  text-align: center;
    line-height: 1.8em;
    font-size: 1.6em;
}

#rightArrow {
  margin-left: 300px;
}

.itemList {
  display: flex;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin-right: 15px;
}

#first {
  background-color: yellow;
}

#second {
  background-color: lightblue;
}

#third {
  background-color: red;
}

#fourth {
  background-color: white;
}

#fifth {
  background-color: purple;
}

#sixth {
  background-color: green;
}
