body {
  background-image: url(../img/bg.jpg);
}

.wrapper {
  background-color: white;
  margin: 38px auto 20px;
  width: 1000px;
  font-family: Tahoma;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.75);
  position: relative;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* wrapper has shaddow */

/* header */

.header {
  /*display: flex;
  flex-direction: row;*/
  width: 100%;
  display: inline-block;
  height: 173px;
}

.logo {
  padding-left: 30px;
  padding-top: 10px;
  float: left;
  width: 285px;
}

.contacts {
  width: 160px;
  height: 70px;
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 15px;
  color: #128aa7;

}
.contacts p:first-child{
  font-weight: bold;
}

.header li {
  display: inline-block;
}

.countries {
  float: right;
  margin-top: 25px;
  margin-right: 20px;
  clear: right;
}
/* photo */

.photo img{
  width: 100%;
  height: 285px;
}

/* menu */
.menu {
  background-color: #333333;
  color: white;
}

.menu ul{
  width: 100%;
  height: 30px;
}

.menu li{
  display: inline-block;
  padding: 4px;
  font-family: Tahoma;
  font-weight: lighter;
  width: 130px;
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
}

.menu > li > a > img {
  width: 12px;
  height: 12px;
  padding-left: 5px;
}

.menu a {
  text-decoration: none;
  display: block;
  /*padding: 4px;*/
  color: white;
}

.menu ul.submenu {
    display: none;
    position: absolute;
    width: 130px;
    top: 25px;
    left: 0px;
}

ul.submenu > li {
  display: block;
  background-color: #333333;
}

ul.submenu > li > a {
  display: block;

}

ul.menu > li:hover > ul.submenu {
	display: block;
}
/* content */

.sidebar {
  /*float: left;*/
  background-color: lightgray;
  padding-top: 10px;
  padding-left: 10px;
  width: 210px;
  margin-right: 0px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

p {
  margin-bottom: 5px;
}

.news {
  float: right;
  background-color: #edeef0;
  width: 210px;
  padding-top: 10px;
  padding-left: 10px;
}

.content {
  width: 300px;
}
/* footer */
.footer p {
  text-align: center;
  color: #ffffff;
  font-family: Tahoma;
  /* почему сюда не дошел общий фонт-фамили? */
}
