body{
  background-color: black;
  background-image: url(../img/bg.jpg);
  background-repeat: space;
  background-size: cover;
  /*background-position: center;*/
}

p {
  color: white;
  font-family: Tahoma;
}
/* Header */


.logo {
  margin-left: 10%;
  margin-top: 3%;
  float: left;
}

.header p {
  text-align: right;
  margin-right: 7%;
}

.contacts-first {
  font-size: 14px;
  padding-top: 120px;
}

.contacts-second {
  font-size: 12px;
}

/* Content */

.content {
  width: 55%;
  margin: 0 auto;
}

.line {
  display: inline-flex;
  flex-direction: row;
  width: 90%;
  margin-left: 7%;
  justify-content: center;
}

.line:last-child {
  padding-top: 30px;
}

.content img{
  width: 400px;
  height: 276px;
  padding-right: 10px;
}

.content p {
  text-align: center;
  font-size: 14px;
}

/* footer */

.footer {
  padding-top: 200px;
  padding-bottom: 40px;
}

.footer p {
  font-size: 13px;
  text-align: center;
}
