body{
  /*background-color: black;*/
  background-image: url(../img/bg.jpg);
  background-repeat: space;
  background-size: cover;
  /*background-position: center;*/
}

/* Header */


.logo {
  margin-left: 7%;
  margin-top: 5%;
  float: left;
}

p {
  color: white;
  font-family: Tahoma;
  text-align: right;
  margin-right: 7%;
}

.contacts-first {
  font-size: 20px;
  padding-top: 145px;
}

.contacts-second {
  font-size: 14px;
}

/* Content */

.first-line {
  display: inline-flex;
  flex-direction: row;
}
