$mainColor: #ff7373;
$earsColor: #ff9090;
@import url('https://fonts.googleapis.com/css?family=Pangolin');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #f9ece8;
    font-family: 'Pangolin', cursive;
}

.fox {
    max-height: 300px;
    align-self: center;
    position: relative;
}

.ears {
    display: flex;
    flex-direction: row;
    width: 150px;
    position: relative;
    top: 73px;
    justify-content: space-between;
    z-index: 1;

    div {
        width: 50px;
        height: 100px;
        background-color: $earsColor;
    }
    .left {
        border-top-right-radius: 45px;
    }
    .right {
        border-top-left-radius: 45px;
    }
}

.head {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: $mainColor;
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.eyes {
    display: flex;
    position: relative;

    div {
        width: 100px;
        height: 70px;
        background-color: white;
        position: relative;
        top: 86px;

        &:before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: relative;
            left: 33px;
            top: 24px;
            background-color: black;
        }
    }

    .left{
        border-top-right-radius: 59px;
    }
    .right {
        border-top-left-radius: 67px;
    }
}

.nose {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    left: 66px;
    top: -11px;
    z-index: 4;
}

.tail {
    position: relative;
    overflow: hidden;
    z-index: 2;
    top: -26px;
    right: 30px;

    .mainPart {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        top: -90px;
        z-index: 1;
        background-color: $mainColor;

        &:after {
            content: "";
            display: block;
            width: 40px;
            height: 40px;
            border-bottom-right-radius: 30px;
            background-color: white;
            position: relative;
            top: 79px;
            right: 10px;
        }
    }
}

.tailAdditionalPart {
    position: relative;
    z-index: 2;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $mainColor;
    top: -255px;
    left: 100px;
}

header {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fox:hover {
  .ears {
    transform: scale(0.9);
    transform: rotate(15deg);
    left: 14px;
  }

  .head {
    transform: rotate(15deg);
  }

  .nose {
    left: 45px;
  }

  .eyes div:before {
    transform: scale(0.5);
  }
}
