//colors
$main-color: #eab96a;
//mb can change main inot additional with function? 
$additional-color: #cdb47b;
$textcolor-with-bg: white;
$textcolor-without-bg: black;
$gray: #adadad;
$gray-line: darken(#adadad, 20%);
$green: #6d9e06;
$red: #c20000;
//fonts

// don't understand where is this font
//$font: "minion_pro_regular", "Times New Roman", serif;

$font: Georgia, serif;
$font-heading: 'Roboto', Arial, Helvetica, sans-serif;


//tasks and reminders
//1. add some dark-bg for screens with pictures - to make text readable before loading img

