@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/helveticaneuecyr-light-webfont.eot');
    src: url('../fonts/HelveticaNeue/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeue/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeue/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeue/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Italic';
    src: url('../fonts/HelveticaNeueItalic/helveticaneue-italic-webfont.eot');
    src: url('../fonts/HelveticaNeueItalic/helveticaneue-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueItalic/helveticaneue-italic-webfont.woff2') format('woff2'),
         url('../fonts/HelveticaNeueItalic/helveticaneue-italic-webfont.woff') format('woff'),
         url('../fonts/HelveticaNeueItalic/helveticaneue-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  font-size: medium;
  line-height: 1.4em;

  h1, h2, h3, th {
    font-family: 'PT Sans', Verdana, sans-serif;
  }

  h1 {
    font-size: 2em;
    font-weight: 700;
  }

  h2, th {
    font-size: 1.5em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.17em;
  }

  p, li, td {
    font-family: 'Helvetica Neue', Verdana, sans-serif;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../img/header-bg.jpg);

  > div:first-child {
      margin-top: 10%;

    a {
      display: block;
      width: 170px;
      height: 80px;
      background-image: url(../img/logo.png);
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
  }

  .wrapper{
    display: flex;
    flex-direction: row;
    margin: 40px 0;

    div {
      margin-right: 15px;

      a {
        display: block;
        width: 54px;
        height: 53px;
        background-image: url(../img/app-sprite.png);
        background-repeat: no-repeat;
        opacity: 0.5;
        text-indent: -9999px;

        &:hover {
          opacity: 1;
        }
      }

      &:nth-child(2){
        a {
          background-position: -55px 0;
        }
      }

      &:nth-child(3){
        a {
          background-position: -111px 0;
        }
      }
    }
  }

  > div:last-child {
    margin-bottom: 20%;

    a{
      display: block;
      width: 50px;
      height: 15px;
      background-image: url(../img/arrow.png);
      background-repeat: no-repeat;
      text-indent: -9999px;
    }
  }


}

.features {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  > div:nth-child(2){
      margin-top: -15%;
  }

  article {
    width: 67%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10%;

    &:hover {
      text-shadow: 3px 3px 3px rgba(150, 150, 150, 0.5);
      // for future - to tie with picture
    }

    p {
      margin-top: 3%;
    }
  }
}

.about {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-around;
  align-items: center;

  div {
    width: 36%;

    p {
      margin-top: 3%;
    }

    ul {
      margin-top: 3%;
      margin-left: 5%;

      li {
        padding-left: 3%;
        line-height: 1em;
        margin-bottom: 3%;
        background-image: url(../img/bullet.png);
        background-repeat: no-repeat;
      }
    }
  }

  .iframe {
    width: 36%;
    // height: 281px;
  }
}

.advantages {
  width: 100%;
  text-align: center;
  // background-image: url(../img/advantages-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    margin-top: 6%;
  }

  > p {
    width: 60%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 83%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    // background-image: url(../img/advantages-bg.jpg);
    // background-position: center;
    // background-position-y: 125%;
    // background-repeat: no-repeat;
    overflow: hidden;

    > div {
      // width: 370px;
      // height: 250px;
      width: 31%;
      margin-right: 2%;
      margin-bottom: 5%;

      h2 {
        margin: 25px 0;
      }

      p {
        // width: 300px;
        width: 70%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        // margin: 0 auto;
      }

      div {
        width: 53px;
        height: 50px;
        margin: 0 auto;
        background-image: url(../img/advantages-icons-sprite.png);
        background-repeat: no-repeat;
      }

      &:nth-child(2) {
        div {
            background-position: -84px 0;
        }
      }
      &:nth-child(3) {
        div {
            background-position: -159px 0;
        }
      }
      &:nth-child(4) {
        div {
            background-position: 0 -70px;
        }
      }
      &:nth-child(5) {
        div {
            background-position: -81px -70px;
        }
      }
      &:last-child {
        div {
            background-position: -159px -70px;
        }
      }
    }
  }
}

.pricing {
  width: 100%;
  height: 580px;
  background-color: #e8e8e8;
  text-align: center;

  > div {
    padding-top: 4%;
  }

  p {
    width: 56%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
  }

  .arrow {
    margin-top: auto;
    margin-bottom: auto;
    min-height: 50px;
    min-width: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
  }

  #prevArrow, #nextArrow {
    display: none;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
      margin-right: 1%;

      &:hover {

        table {
          height: 461px;
          margin-top: -20px;
        }

        th {
          background-color: #e74c3c;
        }

        tr:last-child {
          td {
              background-color: #e74c3c;

              button {
                background-color: #f27a6d;
              }
          }
        }
      }
    }

    table {
      width: 292px;
      height: 419px;

      th {
        color: white;
        vertical-align: middle;
        background-color: black;
      }

      tr:nth-child(n+2):nth-child(-n+7) {
        background-color: white;
      }

      tr:last-child {
        td {
          background-color: black;
          }

          button {
            width: 135px;
            height: 40px;
            border: none;
            color: white;
            background-color: #514d4d;
            cursor: pointer;
          }
        }
      }

      td {
        vertical-align: middle;
        border-bottom: 1px solid #c2c2c2;

        span {
          font-size: 0.7em;
          vertical-align: top;
        }
      }
    }
  }

.testimonals {
  div {
    width: 50%;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.15em;

    p:first-child {
      font-family: 'Helvetica Neue Italic';
      text-align: center;
    }

    p:last-child {
      width: 16%;
      margin-top: 1%;
      margin-left: auto;
      margin-right: auto;
      font-size: 0.9em;
      font-family: 'PT Sans';
      font-weight: bold;
      text-align: center;
    }
  }

  & > :last-child{
    width: 5%;
    min-height: 22px;
    margin-top: 2%;
    margin-bottom: 5%;
    background-image: url(../img/testimonals-nav.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;

  form {
    width: 65%;
  }

  input[type="email"] {
    width: 45%;
    padding: 2.5%;
    margin-top: 5%;
    margin-right: 2%;
    border: none;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
  }

  button {
    width: 34%;
    padding: 2.5%;
    border: none;
    background-color: #e74c3c;
    color: white;
    font-size: 1.3em;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.socials {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
    text-align: center;
  }

  p {
    // width: 85%;
    margin-top: 3%;
    margin-bottom: 2%;
    line-height: 1em;
    // text-align: center;
  }

  .wrapper {
    display: flex;

    div {
      margin-right: 4%;
      border-radius: 50%;
      background-color: #d4d4d4;

      &:hover, {
        background-color: #e74c3c;
      }

      a {
        display: block;
        min-width: 40px;
        min-height: 40px;
        text-indent: -99999px;
        background-image: url(../img/socilas-sprite.png);
        background-repeat: no-repeat;
      }

      &:first-child a {
        background-position: 11px 7px;
      }

      &:nth-child(2) a {
        background-position: -32px 7px;
      }

      &:nth-child(3) a {
        background-position: -76px 8px;
      }

      &:nth-child(4) a {
        background-image: url(../img/google.png);
        background-size: 61%;
        background-position: 9px;
      }

      &:nth-child(5) a {
        background-position: -165px 8px;
      }

      &:last-child a {
        margin-right: none;
        background-position: -208px 8px;
      }
    }
  }
}

footer {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;

  ul {
    display: flex;
    width: 33%;

    li {
      margin-right: 3%;

      a {
        color: grey;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid #e74c3c;
        }
      }
    }

    & li:last-child {
      margin-right: none;
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    background-position: center;
    background-size: cover;

    > div:first-child {
      margin-top: 34%
    }

    > div:last-child {
      margin-bottom: 20%;
    }
  }

  .features {
    flex-direction: column;

    > div:first-child {
      margin-top: 13%;
    }

    .features-img {
      display: none;
    }
  }

  .about {
    flex-direction: column;

    div:first-child {
      order: 2;
      width: 80%;

      h1 {
        line-height: 1em;
      }

      ul {
        margin-top: 5%;

        li {
          padding-left: 6%;
        }
      }
    }

    iframe {
      order: 1;
      width: 88%;
      margin-bottom: 10%;
    }
  }

  .advantages {
    h1 {
      line-height: 1em;
    }

    p {
      width: 70%;
      margin-top: 7%;
    }

    .wrapper {
      width: 100%;
      margin-top: 8%;
      flex-direction: column;

      div {
        margin-bottom: 10%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;

      }

      > div:nth-child(1), div:nth-child(n+5) {
        display: none;
      }

      div:nth-child(3) {
        order: -1;
      }

      h2 {
        margin-top: 5%;
        margin-bottom: 5%;
      }
    }
  }

  .pricing {
    margin-bottom: 30%;

    > div:first-child {
      padding-top: 6%;
    }

    p {
      width: 86%;
      margin-top: 6%;
    }

    #carousel-container {
      display: flex;

      #prevArrow, #nextArrow {
        display: block;
      }

      #prevArrow {
        margin-right: 5%;
      }

      #nextArrow {
        margin-left: 5%;
      }

      #additional-wrapper {
        width: 57%;
        overflow: hidden;

        .wrapper {
          // пока только дефолтное значение,
          // для статического представления
          // карусель позже сделаю
          transform: translateX(146px);
        }
      }
    }
  }

  .testimonals {
    > div:first-child {
        width: 90%;

        p:last-child {
        width: 38%;
      }
    }

    > div:last-child {
      width: 18%;
    }
  }

  .subscribe {
    padding-top: 8%;
    padding-bottom: 8%;
    background-image: none;
    background-color: #e8e8e8;


    h1 {
      line-height: 0.9em;
      text-align: center;
    }

    form {
      width: 90%;
      display: flex;
      flex-direction: column;

      input[type='email'] {
        width: 90%;
        min-height: 50px;
        margin-left: auto;
        margin-right: auto;
      }

      button {
        width: 62%;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        min-height: 50px;
        font-size: 1.5em;
      }
    }
  }

  .socials {
    padding-top: 6%;
    padding-bottom: 6%;

    p {
      width: 80%;
      margin-top: 3%;
      margin-bottom: 3%;
      text-align: center;
    }

    .wrapper {
      width: 91%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;

      div {
        margin-right: 2%;
      }
    }
  }

  footer {
    padding-top: 6%;
    padding-bottom: 6%;

    ul {
      width: 90%;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin-right: 5%;
        min-width: 40px;
        min-height: 40px;
      }
    }
  }
}

// need to add some minor breakpoints for socials >350px

@media screen and (min-width: 451px) {
  header {
    background-position: center;
    background-size: cover;
  }

  .features {
    flex-direction: column;

    div:nth-child(odd) {
      padding-right: 34%;

      article {
        margin-left: 8%;
        margin-right: none;
      }
    }

    > div:first-child {
      order: 1;
      margin-top: 5%;
    }

    .features-img {
      position: absolute;
      width: 55%;
          right: 0%;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    > div:last-child {
      order: 2;

      article:first-child {
        margin-left: 10%;
      }

      article:last-child {
        width: 119%;
        margin-left: 20%;
      }
    }
  }

  .about {
    flex-direction: column;

    div:first-child {
      width: 75%;
      order: 2;
      margin-top: 3%;

      ul {
        li {
          padding-left: 4%;
        }
      }
    }

    .iframe {
      width: 68%;
      order: 1;
      text-align: center;
    }
  }

  .advantages {
    flex-direction: row;
    flex-wrap: wrap;

    > p {
      width: 80%;
      margin-top: 5%;
    }

    .wrapper > div {
      width: 48%;

      p {
        width: 85%;
      }
    }
  }

  .pricing {
    p {
      width: 80%;
      margin-top: 4%;
    }

    #carousel-container {
      display: flex;
      position: relative;

      #prevArrow, #nextArrow {
        display: block;
        position: absolute;
        top: 160px;
        font-size: 4em;
        line-height: 0.5em;
      }

      #prevArrow {
        margin-right: 5%;
      }

      #nextArrow {
        margin-left: 6%;
        left: 83%;
      }

      #additional-wrapper {
        width: 57%;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;

        &:hover {
          width: 290px;
        }

        .wrapper {
          // пока только дефолтное значение,
          // для статического представления
          // карусель позже сделаю
          transform: translateX(146px);

          div:hover {
            table {
              width: 290px;
              margin-top: -13px;
            }
          }
        }
      }
    }
  }

  .testimonals {
    div {
      width: 80%;
      margin-top: 14%;

      p:last-child {
        width: 40%;
        font-size: 1em;
      }
    }

    > div:last-child {
      width: 12%;
    }
  }

  .subscribe {
    background-position: center;
    background-size: cover;

    form {
      width: 90%;

      input[type="email"] {
        width: 36%;
        margin-left: 6%;
      }

      button {
        width: 36%;
        margin-left: 4%;
      }
    }
  }

  .socials {
    p {
      text-align: center;
    }

    .wrapper {
      width: 68%;
    }
  }

  footer {
    ul {
      width: 98%;
    }
  }
}

// minor breakpoints for about, pricing, socials, footer
@media screen and (min-width: 530px) {
  .pricing {

    #carousel-container {
      #additional-wrapper {
        width: 53%;
      }

      #nextArrow {
        margin-left: 8%;
      }

    }
  }

  .socials {
    .wrapper {
      width: 53%;
    }
  }

  footer {
    ul {
      width: 78%;
    }
  }
}

@media screen and (min-width: 570px) {
  .pricing {
    #carousel-container {
      #additional-wrapper {
        width: 48%;
      }
    }
  }
}

@media screen and (min-width: 630px) {
  .about {
    .iframe {
      width: 77%;
      height: 250px;
      margin-bottom: 3%;

      iframe {
        height: 273px;
        width: 100%;
      }
    }
  }

  .pricing {
    #carousel-container {
      #additional-wrapper {
        width: 41%;
      }
    }
  }
}

@media screen and (min-width: 635px) {
  .pricing {
    #carousel-container {
      #nextArrow {
        margin-left: 9%;
      }
    }
  }

  .socials {
    .wrapper {
      width: 44%;
    }
  }

  footer {
    ul {
      width: 63%;
    }
  }
}

@media screen and (min-width: 720px) {
  .features {
    .features-img {
      width: 50%;
    }
  }

  .pricing {
    #carousel-container {
      #nextArrow {
        margin-left: 10%;
      }
    }
  }
}

// this didn't done
// mb start this breakpoint from 720 (tablet-portrait)
// major breakpoint for advantages 800px
@media screen and (min-width: 760px) and (max-width: 960px){
  header {
    background-size: contain;
    background-repeat: no-repeat;

    > div:last-child {
      margin-bottom: 16%;
    }
  }

  .features {

    > div:first-child, div:last-child {
      margin-top: 5%;
      margin-bottom: 5%;
    }

    article {
      width: 87%;
    }

    div.features-img {
      margin-top: -11%;
      img {
        height: 435px;
      }
    }

  }

  .about {
    position: relative;

    div:first-child {
      h1 {
        position: relative;
        left: 65%;
        line-height: 1em;
        width: 120%;
        margin-bottom: 10%;
      }

      p {
        width: 115%;
      }

      ul {
        li {
          padding-left: 6%;
        }
      }
    }

    .iframe {
      width: 41%;
      margin-top: 8%;
      margin-right: 5%;

      iframe {
        height: 205px;
        width: 114%;
      }
    }
  }

  .advantages {
    // верхний абзац подрастянуть
    // по два итема в ряду, всего три ряда
    > p {
      width: 80%;
    }

    .wrapper {
      width: 90%;
      margin-top: 4%;

      div {
        width: 48%;

        p {
          width: 87%;
        }
      }
    }
  }

  .pricing {
    // добавить карусель
    // область видимости - 2 плана
  }

  .testimonals {
    // увеличить шрифты
    // увеличить иконки точек
  }

  .socials {
    // позиционирование
  }

  .footer {
    // разместить аккуратней, сделать 40х40
  }
}

// mb 1024 ? ipad in lanscape
@media screen and (min-width: 1000px) {
  .features-img {
    img {
      height: 650px;
    }
  }
}
// minor breakpoint
@media screen and (min-width: 1200px) {
  .about {
    .iframe {
      iframe {
        height: 274px;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .socials {
    .wrapper {
      width: 22%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
