@import url('https://fonts.googleapis.com/css?family=Roboto');

// some variables for colors
$logo-color: #3498db;
$gray: rgba(37, 37, 37, 0.13);
$nav-color: #2c3e50;
$bg-color: #ecf0f1;
$card-text-color: #a3a3a3;
$card-button-color: rgba(228, 228, 228, 0);
$card-button-color-hover: rgba(228, 228, 228, 0.3);
$hover-underline-color: #f95738;
$darkblue: #2c3e50;

// mixin for a card header

@mixin card-header($h2-margin-right) {
  header {
    h2 {
      margin-left: 4%;
      margin-right: $h2-margin-right;
    }

    button {
      min-width: 35px;
      min-height: 35px;
      margin-right: 3%;
      background-color: $card-button-color;
      border: 1px solid $card-text-color;
      border-radius: 25%;
      cursor: pointer;

      img {
        margin-top: 10%;
      }

      &:hover {
        background-color: $card-button-color-hover;
      }
    }
  }
}

@mixin full-list-url($width, $margin-bottom) {
  a {
    display: block;
    text-decoration: none;
    margin-left: 5%;
    margin-bottom: $margin-bottom;
    color: $card-text-color;
    width: $width;
    text-align: center;

    &:hover {
      border-bottom: 2px solid #f95738;
    }
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: medium;
}

header {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: center;

  .logo {
    width: 40%;
    background-color: $logo-color;

    img {
      margin-top: 12%;
      margin-left: 5%;
      margin-bottom: 5%;
    }
  }

  .searchPanel {
    width: 13%;
    height: 40px;
    margin-left: 10%;
    background-color: $gray;
    text-align: center;
    border-radius: 25%;

    span {
      display: none;
    }

    img {
      margin-top: 25%;
    }
  }

  .email, .planet, .cart {
    margin-left: 5%;
    cursor: pointer;

    .svgSettings {
      fill: $gray;
    }

    &:hover {
      .svgSettings {
        fill: $hover-underline-color;
      }
    }
  }

  .photo {
    display: none;
  }
}

nav {
  width: 100%;
  display: flex;
  background-color: $nav-color;

  ul {
    padding-left: 3%;
    list-style: none;
    display: flex;
  }

  li {
    margin-right: 5%;

    a {
      min-width: 20px;
      min-height: 20px;
      display: block;
      padding-left: 20px;
      color: white;
      text-decoration: none;
      background-repeat: no-repeat;

      .svgIcon {
        width: 25px;
        max-width: 40px;
        max-height: 40px;
        display: inline-block;
      }

      .statisticsSVG {
        fill: white;
      }

      span {
        display: none;
        vertical-align: super;
      }

      &:hover {
        .statisticsSVG {
          fill: $hover-underline-color;
        }

        span {
          color: $hover-underline-color;
        }
      }
    }
  }

  li:nth-child(5) {
    margin-right: 0px;
  }
}

main {
  width: 100%;
  background-color: #ecf0f1;
  color: $card-text-color;
}

#sales {
  display: flex;
  flex-direction: column;

  > div {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: white;

    @include card-header(15%);

    > img {
      margin-left: 8%;
      margin-bottom: 13%;
      margin-top: 10%;
    }

    @include full-list-url(36%, 8%);
  }

  .saleChart {
    div {
      width: 190px;
      height: 200px;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 13%;
      background-image: url(../../img/sales/salesChart.png);
      background-repeat: no-repeat;
      background-position-x: -170px;
    }
  }
}

#flowChart {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 2%;
  background-color: white;

  @include card-header(15%);

  .graph {
    width: 225px;
    height: 300px;
    background-image: url(../../img/flowChart-graph.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8%;
    margin-top: 5%;
  }

  p {
    width: 80%;
    margin-left: 10%;
    margin-top: 15%;

    span {
      font-weight: bold;
    }

    &:last-child {
        margin-top: 5%;
    }

    &:before {
      display: inline-block;
      width: 20px;
      height: 20px;
      content: '';
      background-color: $hover-underline-color;
      margin-right: 20px;
    }

    &:first-child:before {
      background-color: $darkblue;
    }
  }
}

#withProducts {
  width: 100%;
  display: flex;
  flex-direction: column;

  .productList {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: white;

    @include card-header(15%);

    table {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      border-spacing: 0px;

      tr:nth-child(even) {
        background-color: $bg-color;
      }

      th, td {
        padding-top: 5%;
        padding-bottom: 5%;
        border-bottom: 1px solid black;
      }

      .raiting {
        display: none;
      }
    }

    @include full-list-url(36%, 8%);
  }

  .amount {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: white;

    @include card-header(15%);

    p {
      font-size: 4.5em;
      font-weight: bold;
      position: relative;
      margin-top: 15%;
      margin-bottom: 5%;
      margin-left: 10%;
      color: $hover-underline-color;

      &:after {
        content: '';
        position: absolute;
        top: 25px;
        right: 23px;
        border: 20px solid transparent;
        border-bottom: 20px solid $hover-underline-color;
      }
    }

    @include full-list-url(36%, 8%);

    a:first-of-type {
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20%;
    }
  }

  .todayLines {
    display: none;
  }
}

#lowest {
  padding-bottom: 10px;

  .averageSale {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: white;

    @include card-header(8%);

    .circles {
      width: 190px;
      height: 200px;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8%;
      background-image: url(../../img/circles.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .numbers {
      .container {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
        justify-content: space-between;
        border-bottom: 1px solid $gray;

        &:nth-child(2) {
          p:before {
            background-color: $logo-color;
          }
        }

        &:nth-child(3) {
          border-bottom: none;

          p:before {
            background-color: $darkblue;
          }
        }

        p {
          margin-top: 0%;
          margin-bottom: 0%;

          &:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            content: '';
            background-color: $hover-underline-color;
            margin-right: 20px;
          }
        }

        span {
          line-height: 1.9em;
          font-weight: bold;
          display: block;
        }
      }

      > span {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 7%;
        font-size: 2em;
        color: black;
      }
    }

    @include full-list-url(36%, 8%);
  }

  .todayDiagram {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: white;

    @include card-header(8%);

    .diagram {
      width: 190px;
      height: 200px;
      margin-top: 10%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8%;
      background-image: url(../../img/diagram.png);
      background-repeat: no-repeat;
      background-size: contain;
    }

    .numbers {
      .container {
        display: flex;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 2%;
        justify-content: space-between;
        border-bottom: 1px solid $gray;

        &:nth-child(2) {
          p:before {
            background-color: #cb2100;
          }
        }

        &:nth-child(3) {
          p:before {
            background-color: #911800;
          }
        }

        &:nth-child(4) {
          border-bottom: none;

          p:before {
            background-color: #590e00;
          }
        }

        p {
          margin-top: 0%;
          margin-bottom: 0%;

          &:before {
            display: inline-block;
            width: 20px;
            height: 20px;
            content: '';
            background-color: $hover-underline-color;
            margin-right: 20px;
          }
        }

        span {
          line-height: 1.9em;
          font-weight: bold;
          display: block;
        }
      }

      > span {
        display: block;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 7%;
        font-size: 2em;
        color: black;
      }
    }

    @include full-list-url(36%, 8%);
  }
}

@media screen and (min-width: 400px) {
  nav {
    li {
      margin-right: 10%;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  #sales {
    > div {
        @include card-header(26%);

        > img {
          margin-left: 16%;
        }
    }

    .saleChart {
      div {
        width: 285px;
        background-position-x: -86px;
      }
    }
  }

  #flowChart {
    @include card-header(32%);

    .graph {
      width: 285px;
    }
  }

  #withProducts {
    .productList {
      @include card-header(34%);

      table {
        margin-bottom: 8%;
        text-align: center;
      }
    }

    .amount {
      @include card-header(30%);

      p {
        margin-left: 20%;

        &:after {
          right: 52px;
        }
      }
    }
  }

  #lowest {
    .averageSale, .todayDiagram {
      @include card-header(25%);
      @include full-list-url(27%, 8%);

      .numbers {
        .container {
          width: 75%;
        }

        > span {
          width: 75%;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) {
  header {
    .searchPanel {
      border-radius: 18%;

      img {
        margin-top: 21%;
      }
    }
  }

  #sales {
    > div:first-child, > div:nth-child(2) {
      @include full-list-url(26%, 8%);
    }
  }

  #withProducts {
    .productList {
      @include card-header(40%);
      @include full-list-url(26%, 8%);
    }

    .amount {
      @include card-header(40%);

      p:after {
        right: 90px;
      }

      @include full-list-url(26%, 8%);
    }
  }
}

@media screen and (min-width: 500px) {
  header {
    .searchPanel {
      margin-left: 15%;
    }
  }

  nav {
    ul {
      width: 80%;
      padding-left: 40px;
      justify-content: center;
    }
  }

  #sales {
    > div {
      @include card-header(40%);

      > img {
        margin-left: 25%;
      }
    }

    .saleChart {
      div {
        width: 353px;
        background-position-x: 0px;
      }
    }
  }

  #flowChart {
    @include card-header(42%);

    .graph {
      width: 350px;
    }
  }

  #withProducts {
    .productList {
      @include card-header(44%);
    }

    .amount {
      @include card-header(44%);

      p {
        font-size: 6em;

        &:after {
          top: 48px;
          right: 67px;
        }
      }
    }

    .todayLines {
      display: block;
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 5%;
      padding: 2%;
      background-color: white;

      @include card-header(40%);

      p {
        margin-bottom: 2%;
        margin-left: 8%;
        font-weight: bold;
      }

      div {
        width: 85%;
        height: 20px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;
      }

      div:first-of-type {
        background-image: url(../../img/today-lines/first-today-line.png);
      }

      div:nth-of-type(2) {
        background-image: url(../../img/today-lines/second-today-line.png);
      }

      div:last-of-type {
        background-image: url(../../img/today-lines/third-today-line.png);
        margin-bottom: 8%;
      }

      span {
        display: inline-block;
        width: 24%;

        &:before {
          display: inline-block;
          width: 20px;
          height: 20px;
          content: '';
          background-color: $hover-underline-color;
          margin-right: 20px;
        }

        &:first-of-type {
          margin-bottom: 6%;
          margin-left: 18%;
        }

        &:last-of-type {
          width: 32%;

          &:before {
            background-color: $darkblue;
          }
        }
      }

      @include full-list-url(23%, 8%);
    }
  }

  #lowest {
    .averageSale, .todayDiagram {
      @include card-header(38%);
      @include full-list-url(22%, 8%);

      .numbers {
        .container {
          width: 65%;
        }

        > span {
          width: 65%;
        }
      }
    }
  }
}

@media screen and (min-width: 550px) {
  header {
    .logo {
      img {
        margin-top: 8%;
        margin-left: 22%;
      }
    }

    .searchPanel {
      display: flex;
    margin-left: 5%;
    width: 20%;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    color: $gray;

    img {
      margin-top: 0px;
    }

    span:nth-child(1) {
      display: inline-block;
    }
    }
  }

  #sales {
    .todaysSale {
      @include full-list-url(21%, 8%);
    }

    .totalSale {
      @include full-list-url(21%, 8%);
    }
  }

  #withProducts {
    .productList {
      table {
        .raiting {
          display: table-cell;
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
        }

        tr:nth-of-type(n+2) {
          &:nth-of-type(even) {
            .raiting {
                background-image: url(../../img/raiting.png);
              }
          }

          &:nth-of-type(odd) {
            .raiting {
              background-image: url(../../img/raiting-even.png);
            }
          }
        }
      }

      @include full-list-url(21%, 8%);
    }

    .todayLines {
      div:first-of-type {
            background-size: 92%;
      }

      div:nth-of-type(2) {
        background-size: 75%;
      }

      div:last-of-type {
            background-size: 82%;
      }

      @include full-list-url(21%, 8%);
    }

    .amount {
      p {
        margin-left: 25%;

        &:after {
          right: 80px;
        }
      }

      @include full-list-url(21%, 8%);
    }
  }
}
// major breakpoint
@media screen and (min-width: 614px) {
  nav {
    ul {
      padding-left: 50px;
      justify-content: none;

      li {
        margin-right: 6%;
        a {
          padding-left: 23px;
          span {
            display: inline-block;
          }
        }

        &:last-child {
          a {
            padding-left: 23px;
          }
        }
      }
    }
  }

  #sales {
    flex-direction: row;
    flex-wrap: wrap;

    > div {
      width: 42%;

      @include card-header(30%);

      > img {
        margin-left: 8%;
      }
    }

    > div:last-child {
      width: 92%;
      margin-top: 0%;

      @include card-header(50%);

      div {
        width: 450px;
        background-size: contain;
        background-position: center;
      }
    }
  }

  #flowChart {
    width: 92%;
    margin-top: 0%;

    @include card-header(55%);

    .graph {
        width: 500px;
    }

    footer {
      display: flex;

      p {
        margin-top: 10%;

        &:last-child {
          margin-top: 10%;

          &:last-child {
            margin-left: 0%;
          }
        }
      }
    }
  }

  #withProducts {
    flex-direction: row;
    flex-wrap: wrap;

    .productList {
      width: 92%;
      margin-top: 0%;
      margin-bottom: 0%;

      @include card-header(57%);
      @include full-list-url(18%, 8%);
    }

    .todayLines {
      width: 42%;
      margin-bottom: 0%;

      @include card-header(7%);

      span {
        margin-left: 18%;

        &:first-of-type {
          width: 31%;
          margin-top: 5%;
        }

        &:last-of-type {
          width: 56%;
          margin-bottom: 15%;
        }
      }
      @include full-list-url(39%, 8%);
    }

    .amount {
      width: 42%;
      margin-bottom: 0%;

      @include card-header(16%);

      p {
        font-size: 5em;
        margin-left: 5%;
        margin-top: 25%;

        &:after {
          top: 33px;
          right: 14px;
        }
      }

      @include full-list-url(35%, 8%);

      a:first-of-type {
        margin-bottom: 45%;
        margin-top: 10%;
      }
    }
  }

  #lowest {
    display: flex;

    .averageSale, .todayDiagram {
      width: 42%;

      @include card-header(7%);

      .numbers {
        .container {
          width: 90%;
        }
      }

      @include full-list-url(34%, 8%);
    }

    .averageSale {
      .numbers {
        > span {
          width: 90%;
          margin-top: 21%;
        }
      }
    }

    .todayDiagram {
      .numbers {
        > span {
          width: 90%;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #flowChart {
    footer {
      p {
        width: 35%;
      }
    }
  }

  #withProducts {
    .todayLines {
      @include card-header(20%);

      p:first-of-type {
        margin-top: 19%;
      }

      span:first-of-type, span:last-of-type {
            margin-left: 8%;
      }

      span:last-of-type {
          margin-bottom: 13%;
      }
    }

    .amount {
      @include card-header(27%);

      p {
          font-size: 6em;

          &:after{
            top: 48px;
          }
      }
    }
  }

  #lowest {
    .averageSale, .todayDiagram {
      @include card-header(17%);
      @include full-list-url(31%, 8%);
    }
  }
}

@media screen and (min-width: 750px) {
  header {
    .logo {
      width: 30%;
    }

    .searchPanel {
      span:nth-child(2) {
        display: inline-block;
        margin-left: -30%;
      }
    }

    .planet, .cart {
      margin-left: 2%;
    }

    .photo {
      display: block;
      position: absolute;
      width: 70px;
      height: 100px;
      right: 4%;
      top: 3%;
    }
  }

  nav {
    ul {
      padding-left: 40px;
    }
  }

  #sales {
    .todaysSale {
        @include card-header(25%);
    }

    .saleChart {
      > div:last-child {
        width: 600px;
        height: 300px;
        background-size: 85%;
        margin-top: 2%;
        margin-bottom: 5%;
      }
    }
  }

  #flowChart {
    @include card-header(63%);

    .graph {
      width: 625px;
      margin-bottom: 6%;
    }

    p {
      margin-top: 0%;
    }
  }
}

@media screen and (min-width: 800px) {
  header {
    .logo {
      width: 27%;
    }
  }

  nav {
    ul {
      padding-left: 26px;
    }
  }

  #sales {
    > div {
      > img {
          margin-left: 17%;
      }
    }
  }

  #flowChart {
    footer {
      p {
        width: 27%;
      }
    }
  }

  #withProducts {
    .productList {
      @include card-header(65%);

      table {
        th, td {
          padding-top: 3%;
          padding-bottom: 3%;
        }
      }
      @include full-list-url(12%, 8%);
    }

    .todayLines {
      @include card-header(27%);
      @include full-list-url(28%, 8%);
    }

    .amount {
      @include card-header(35%);
      @include full-list-url(28%, 8%);

      p:after {
        right: 50px;
      }
    }
  }

  #lowest {
    .averageSale, .todayDiagram {
      @include card-header(27%);
      @include full-list-url(26%, 8%);

      .numbers {
        .container {
          width: 75%;
          }

          > span {
              width: 75%;
        }
      }
    }
  }
}

// major breakpoint for three column
@media screen and (min-width: 875px) {
  nav {
    ul {
      padding-left: 1%;
    }
  }

  #sales {
    > div {
      width: 26%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 2%;

      > img {
        margin-left: 0%;
      }

      &:last-child {
        width: 30%;
        margin-top: 5%;
        margin-right: 0%;

        @include card-header(30%);

        > div:last-child {
            width: 275px;
        }
      }

      @include full-list-url(40%, 8%);
    }
  }

  #flowChart {
    width: 94%;
    margin-bottom: 2%;

    @include card-header(67%);

    .graph {
      width: 770px;
    }

    footer {
      p {
        width: 24%;
        margin-top: 0%;

        &:last-child {
              margin-top: 0%;
        }
      }
    }
  }

  #withProducts {
    display: block;
    min-height: 780px;

    .productList {
      width: 56%;
      max-height: 730px;
      float: left;
      clear: both;
      margin-left: 1%;
      margin-right: 1%;

      @include card-header(52%);

      table {
        th, td {
          padding-top: 5%;
          padding-bottom: 5%;
        }
      }

      @include full-list-url(18%, 8%);
    }

    .todayLines {
      width: 32%;
      max-height: 400px;
      margin-top: 0%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 1%;
      float: right;

      @include card-header(17%);

      p:first-of-type {
          margin-top: 5%;

        span:first-of-type {
          width: 28%;
          margin-top: 0%;
        }

        span:last-of-type {
          width: 49%;
          margin-bottom: 0%;
        }
      }

      @include full-list-url(34%, 8%);
    }

    .amount {
      width: 32%;
      margin-left: 1%;
      margin-right: 1%;
      max-height: 320px;
      margin-top: 1%;
      margin-bottom: 1%;
      float: right;

      @include card-header(24%);

      p {
        margin-top: 10%;
        margin-left: 10%;
        font-size: 4.5em;

        &:after {
          top: 25px;
          right: 40px;
        }
      }

      @include full-list-url(33%, 0%);

      a:first-of-type {
            margin-bottom: 14%;
      }
    }
  }

  #lowest {
    .averageSale, .todayDiagram {
      width: 44%;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-left: 1%;
      margin-right: 1%;

      @include card-header(35%);
      @include full-list-url(23%, 8%);
    }
  }
}

@media screen and (min-width: 900px) {
  #withProducts {
    .amount {
      max-height: 276px;
    }
  }
}

@media screen and (min-width: 950px) {
  header {
    .logo {
      width: 25%;
    }

    .searchPanel {
      width: 22%;
      margin-left: 3%;

      span:last-of-type {
        margin-left: -51%;
      }
    }
  }

  nav {
    ul {
      justify-content: flex-start;
      padding-left: 5%;
    }
  }

  #sales {
    > div {
      img {
        margin-left: 5%;
      }

      &:last-child {
        > div:last-child {
          width: 300px;
        }
      }
    }
  }

  #flowChart {
    .graph {
      width: 875px;
    }
  }

  #withProducts {
    margin-bottom: 2%;

    .productList {
      max-height: 750px;
    }

    .amount {
      max-height: 300px;

      a:last-of-type {
          margin-bottom: 8px;
      }
    }
  }

  #lowest {
    clear: both;

    .averageSale, .todayDiagram {
      .wrapper {
        display: flex;

        .numbers {
          margin-top: 21%;
          margin-right: 3%;
          order: 1;

          .container {
            width: 95%;
          }

          > span {
            width: 102%;
          }
        }

        .circles, .diagram {
          order: 2;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  #withProducts {
    min-height: 798px;

    .productList {
      max-height: 760px;

      @include card-header(57%);

      a:last-of-type {
        margin-bottom: 5px;
      }
    }
    .todayLines {
      @include card-header(26%);

      max-height: 450px;

      span:last-of-type {
        width: 48%;
      }

      @include full-list-url(28%, 8%);
    }

    .amount {
      max-height: 305px;

      @include card-header(32%);

      p {
        margin-left: 16%;

        &:after {
          right: 57px;
        }
      }

      @include full-list-url(29%, 8%);

      a:last-of-type {
        margin-bottom: 13px;
      }
    }
  }

  #lowest {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1300px) {
  header {
    .logo {
      width: 18%;
    }

    .photo {
      top: 3%;
    }
  }

  nav {
    ul {
        padding-left: 4%;
    }
  }

  #sales {
    > div {
      margin-top: 2%;

      > img {
        margin-left: 17%;
      }

      &:last-child {
        margin-top: 2%;

        @include card-header(45%);

        > div:last-child {
          width: 400px;
        }
      }

      // a {
      //   margin-bottom: 4%;
      // }
      @include full-list-url(40%, 4%);
    }

    .totalSale {
      @include card-header(40%);
    }

    .todaysSale {
      @include card-header(33%);
    }
  }

  #flowChart {
    .graph {
      width: 1000px;
      height: 400px;
      margin-top: 3%;
    }

    p {
      font-size: 1.5em;

      &:first-child {
        margin-left: 18%;
      }
    }
  }

  #withProducts {
    min-height: 903px;

    .productList {
      max-height: 848px;

      @include card-header(66%);

      table {
        th, td {
          padding-top: 4%;
          padding-bottom: 4%;
        }
      }

      @include full-list-url(12%, 8%);

      a:last-of-type {
        margin-bottom: 28px;
      }
    }

    .todayLines {
      @include card-header(42%);
      @include full-list-url(20%, 8%);
    }

    .amount {
      max-height: 320px;

      @include card-header(44%);

      p {
        margin-left: 21%;

        &:after {
          right: 130px;
        }
      }

      @include full-list-url(21%, 8%);

      a:first-of-type {
        margin-bottom: 8%;
      }
    }
  }

  #lowest {
    .averageSale, .todayDiagram {
      @include card-header(55%);

      .wrapper {
        .numbers {
          width: 55%;
          margin-top: 5%;
        }
      }

      @include full-list-url(15%, 2%);
    }
  }
}
