body {
  font-family: sans-serif;
  font-size: medium;
  color: white;
}

.wrapper {
  width: 100%;
  height: 888px;
  background-image: url(../img/first-bg.jpg);
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 180px;

  .logo {
    width: 215px;
    height: 35px;
    margin-top: 25px;
  }

  nav {
    margin-top: 33px;
    ul {
      display: flex;

      li {
        width: 100px;
        height: 25px;
        margin-right: 25px;
        text-transform: uppercase;

        a {
          text-decoration: none;
          color: white;
        }
      }

      & li:nth-child(3),li:nth-child(5) {
        width: 140px;
      }

      & li:last-child {
        margin-right: none;
      }
    }

  }
}

#first {
  display: flex;
  justify-content: space-around;
  width: 100%;

  div:first-child {
    form {
      width: 382px;
      height: 423px;
      display: flex;
      flex-direction: column;
      background-color: rgba(36, 50, 58, 0.7);

      p {
        margin: 0 auto;

        &:first-child {
          margin-top: 30px;
        }

        &:last-child {
          margin-bottom: 35px;
        }
      }

      div {
        margin: 25px auto;

        input {
          width: 285px;
          height: 35px;
          padding-left: 15px;
          border: none;
          color: black;
          background-color: #949798;

          &::-webkit-input-placeholder {color:black;};
          &::-moz-placeholder          {color:black;};
          &:-moz-placeholder           {color:black};
          &:-ms-input-placeholder      {color:black;};
        }
      }

      button {
        width: 184px;
        height: 44px;
        margin: 15px auto;
        border: none;
        background-color: #1ebda2;
        color: white;
        font-size: 1.2em;
        cursor: pointer;
      }
    }
  }

  div:last-child {
    width: 655px;
    height: 175px;
    text-align: end;

    h1 {
      font-size: 2.0em;

      &:first-child {
        margin-top: 93px;
      }

      &:last-of-type {
        margin-top: 50px;
      }
    }

    span {
      font-size: 1.2em;
      color: #21b69b;
    }
  }
}

#advantages {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 260px;
  background-color: #24323a;

  .item {
    width: 150px;
    height: 260px;
    margin-right: 105px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -70px;

    &:first-child {
      margin-left: 64px;
    }

    > div:first-child {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: #1ebda2;

      div {
        width: 100px;
        height: 82px;
        margin: 35px 35px;
        background-image: url(../img/advantages-sprite.png);
        background-repeat: no-repeat;
      }
    }

    div:nth-child(2) {
      width: 1px;
      height: 50px;
      margin: 0 auto;
      background-color: white;
    }

    div:nth-child(3) {
      width: 20px;
      height: 20px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: white;
    }

    > div:last-child {
      width: 131px;
      margin: 10px;
      word-wrap: normal;
      text-align: center;
    }

    & div:last-child {
      margin-right: none;
    }
  }
}

#prices {
  width: 100%;
  height: 650px;
  background-image: url(../img/prices-bg.jpg);

  h2 {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 65px;
  }

  > span {
    width: 539px;
    height: 50px;
    display: block;
    text-align: center;
    margin: 25px auto;
    color: #1ebda2;
  }

  .container {
    display: flex;
    justify-content: center;

    > div {
      width: 205px;
      height: 295px;
      margin: 30px 105px 95px 0;
      padding: 15px;
      border: 1px solid #1ebda2;

      .img {
        width: 190px;
        height: 130px;
        background-image: url(../img/prices-img.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }

      h3 {
        margin-top: 10px;
        text-align: center;
      }

      div {
        margin: 15px 0 20px 0;
        text-align: center;

        span {
          display: block;
          margin-top: 6px;
          color: #1ebda2;
        }
      }

      button {
        width: 160px;
        height: 38px;
        background-color: #1ebda2;
        border: none;
        color: white;
        cursor: pointer;
      }
    }
  }
}

.calc {
  width: 100%;
  height: 110px;
  background-color: #1ebda2;
  padding-top: 20px;
  cursor: pointer;

  > div {
    width: 1185px;
    height: 85px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .icon {
      width: 43px;
      height: 53px;
      margin-right: 37px;
      background-image: url(../img/calc-icon.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    h1 {
      font-size: 250%;
    }
  }
}
